CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_CGROUPFS_MOUNT_KERNEL_CGROUPS=y
CONFIG_DOCKER_CGROUP_OPTIONS=y
CONFIG_DOCKER_NET_MACVLAN=y
CONFIG_DOCKER_OPTIONAL_FEATURES=y
CONFIG_DOCKER_STO_EXT4=y
CONFIG_GNUTLS_ALPN=y
CONFIG_GNUTLS_ANON=y
CONFIG_GNUTLS_DTLS_SRTP=y
CONFIG_GNUTLS_HEARTBEAT=y
CONFIG_GNUTLS_OCSP=y
CONFIG_GNUTLS_PSK=y
CONFIG_GRUB_TITLE="ZeroWrt"
CONFIG_ISO_IMAGES=y
CONFIG_KERNEL_CFQ_GROUP_IOSCHED=y
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_CGROUP_HUGETLB=y
CONFIG_KERNEL_CGROUP_NET_PRIO=y
CONFIG_KERNEL_CGROUP_PERF=y
CONFIG_KERNEL_HUGETLBFS=y
CONFIG_KERNEL_HUGETLB_PAGE=y
CONFIG_KERNEL_MEMCG_SWAP_ENABLED=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_KERNEL_PERF_EVENTS=y
CONFIG_KERNEL_TRANSPARENT_HUGEPAGE=y
CONFIG_KERNEL_TRANSPARENT_HUGEPAGE_ALWAYS=y
CONFIG_LIBQMI_COLLECTION_BASIC=y
CONFIG_LIBQMI_WITH_MBIM_QMUX=y
CONFIG_LIBQMI_WITH_QRTR_GLIB=y
CONFIG_LUCI_LANG_ca=y
CONFIG_LUCI_LANG_cs=y
CONFIG_LUCI_LANG_da=y
CONFIG_LUCI_LANG_de=y
CONFIG_LUCI_LANG_el=y
CONFIG_LUCI_LANG_es=y
CONFIG_LUCI_LANG_fi=y
CONFIG_LUCI_LANG_fr=y
CONFIG_LUCI_LANG_he=y
CONFIG_LUCI_LANG_hi=y
CONFIG_LUCI_LANG_hu=y
CONFIG_LUCI_LANG_it=y
CONFIG_LUCI_LANG_ja=y
CONFIG_LUCI_LANG_ko=y
CONFIG_LUCI_LANG_lt=y
CONFIG_LUCI_LANG_mr=y
CONFIG_LUCI_LANG_ms=y
CONFIG_LUCI_LANG_nb_NO=y
CONFIG_LUCI_LANG_nl=y
CONFIG_LUCI_LANG_no=y
CONFIG_LUCI_LANG_pl=y
CONFIG_LUCI_LANG_pt=y
CONFIG_LUCI_LANG_pt-br=y
CONFIG_LUCI_LANG_pt_BR=y
CONFIG_LUCI_LANG_ro=y
CONFIG_LUCI_LANG_ru=y
CONFIG_LUCI_LANG_sk=y
CONFIG_LUCI_LANG_sv=y
CONFIG_LUCI_LANG_tr=y
CONFIG_LUCI_LANG_uk=y
CONFIG_LUCI_LANG_vi=y
CONFIG_LUCI_LANG_zh-tw=y
CONFIG_LUCI_LANG_zh_Hant=y
CONFIG_MODEMMANAGER_WITH_MBIM=y
CONFIG_MODEMMANAGER_WITH_QMI=y
CONFIG_MODEMMANAGER_WITH_QRTR=y
CONFIG_NODEJS_ICU_SMALL=y
CONFIG_OPENVPN_openssl_ENABLE_DEF_AUTH=y
CONFIG_OPENVPN_openssl_ENABLE_FRAGMENT=y
CONFIG_OPENVPN_openssl_ENABLE_LZ4=y
CONFIG_OPENVPN_openssl_ENABLE_LZO=y
CONFIG_OPENVPN_openssl_ENABLE_MULTIHOME=y
CONFIG_OPENVPN_openssl_ENABLE_PF=y
CONFIG_OPENVPN_openssl_ENABLE_PORT_SHARE=y
CONFIG_OPENVPN_openssl_ENABLE_SMALL=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_TAR_BZIP2=y
CONFIG_PACKAGE_TAR_GZIP=y
CONFIG_PACKAGE_TAR_POSIX_ACL=y
CONFIG_PACKAGE_TAR_XATTR=y
CONFIG_PACKAGE_TAR_XZ=y
CONFIG_PACKAGE_TAR_ZSTD=y
CONFIG_PACKAGE_alist=y
CONFIG_PACKAGE_alsa-lib=y
CONFIG_PACKAGE_alsa-ucm-conf=y
CONFIG_PACKAGE_alsa-utils=y
CONFIG_PACKAGE_appfilter=y
CONFIG_PACKAGE_aria2=y
CONFIG_PACKAGE_avahi-dbus-daemon=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_btrfs-progs=y
CONFIG_PACKAGE_bzip2=y
CONFIG_PACKAGE_cgroupfs-mount=y
CONFIG_PACKAGE_chinadns-ng=y
CONFIG_PACKAGE_collectd=y
CONFIG_PACKAGE_collectd-mod-cpu=y
CONFIG_PACKAGE_collectd-mod-interface=y
CONFIG_PACKAGE_collectd-mod-iwinfo=y
CONFIG_PACKAGE_collectd-mod-load=y
CONFIG_PACKAGE_collectd-mod-memory=y
CONFIG_PACKAGE_collectd-mod-network=y
CONFIG_PACKAGE_collectd-mod-rrdtool=y
CONFIG_PACKAGE_confuse=y
CONFIG_PACKAGE_containerd=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_coreutils-stty=y
CONFIG_PACKAGE_coreutils-timeout=y
CONFIG_PACKAGE_dbus=y
CONFIG_PACKAGE_docker=y
CONFIG_PACKAGE_docker-compose=y
CONFIG_PACKAGE_dockerd=y
CONFIG_PACKAGE_fdk-aac=y
CONFIG_PACKAGE_filebrowser=y
CONFIG_PACKAGE_forked-daapd=y
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_geoview=y
CONFIG_PACKAGE_glib2=y
CONFIG_PACKAGE_grep=y
CONFIG_PACKAGE_haproxy=y
CONFIG_PACKAGE_hd-idle=y
CONFIG_PACKAGE_ip6tables-extra=y
CONFIG_PACKAGE_ip6tables-mod-nat=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-mod-iprange=y
CONFIG_PACKAGE_iptables-mod-socket=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_jq=y
CONFIG_PACKAGE_kcptun-client=y
CONFIG_PACKAGE_kcptun-config=y
CONFIG_PACKAGE_kmod-ac97=y
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-crypto-kpp=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=y
CONFIG_PACKAGE_kmod-crypto-lib-curve25519=y
CONFIG_PACKAGE_kmod-crypto-lib-poly1305=y
CONFIG_PACKAGE_kmod-dnsresolver=y
CONFIG_PACKAGE_kmod-dummy=y
CONFIG_PACKAGE_kmod-fast-classifier=y
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_kmod-fs-cifs=y
CONFIG_PACKAGE_kmod-fs-netfs=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-smbfs-common=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-ip6tables-extra=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-ipt-iprange=y
CONFIG_PACKAGE_kmod-ipt-physdev=y
CONFIG_PACKAGE_kmod-ipt-socket=y
CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-iptunnel4=y
CONFIG_PACKAGE_kmod-ledtrig-audio=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-lib-raid6=y
CONFIG_PACKAGE_kmod-lib-xor=y
CONFIG_PACKAGE_kmod-lib-zlib-deflate=y
CONFIG_PACKAGE_kmod-lib-zstd=y
CONFIG_PACKAGE_kmod-md-mod=y
CONFIG_PACKAGE_kmod-md-raid0=y
CONFIG_PACKAGE_kmod-md-raid1=y
CONFIG_PACKAGE_kmod-md-raid10=y
CONFIG_PACKAGE_kmod-md-raid456=y
CONFIG_PACKAGE_kmod-media-core=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-nf-ipvs=y
CONFIG_PACKAGE_kmod-nf-socket=y
CONFIG_PACKAGE_kmod-nls-ucs2-utils=y
CONFIG_PACKAGE_kmod-oaf=y
CONFIG_PACKAGE_kmod-pcie_mhi=y
CONFIG_PACKAGE_kmod-regmap-core=y
CONFIG_PACKAGE_kmod-shortcut-fe=y
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_kmod-sound-core=y
CONFIG_PACKAGE_kmod-sound-hda-codec-hdmi=y
CONFIG_PACKAGE_kmod-sound-hda-codec-realtek=y
CONFIG_PACKAGE_kmod-sound-hda-codec-via=y
CONFIG_PACKAGE_kmod-sound-hda-core=y
CONFIG_PACKAGE_kmod-sound-hda-intel=y
CONFIG_PACKAGE_kmod-sound-i8x0=y
CONFIG_PACKAGE_kmod-sound-mpu401=y
CONFIG_PACKAGE_kmod-sound-via82xx=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-audio=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-printer=y
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=y
CONFIG_PACKAGE_kmod-usb-serial-wwan=y
CONFIG_PACKAGE_kmod-usb-wdm=y
CONFIG_PACKAGE_kmod-usb-xhci-hcd=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_lame-lib=y
CONFIG_PACKAGE_libacl=y
CONFIG_PACKAGE_libantlr3c=y
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libavahi-client=y
CONFIG_PACKAGE_libavahi-dbus-support=y
CONFIG_PACKAGE_libbz2=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcap-bin=y
CONFIG_PACKAGE_libcap-bin-capsh-shell="/bin/sh"
CONFIG_PACKAGE_libconfig=y
CONFIG_PACKAGE_libdaemon=y
CONFIG_PACKAGE_libdbus=y
CONFIG_PACKAGE_libedit=y
CONFIG_PACKAGE_libeudev=y
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libexif=y
CONFIG_PACKAGE_libexpat=y
CONFIG_PACKAGE_libffi=y
CONFIG_PACKAGE_libffmpeg-full=y
CONFIG_PACKAGE_libflac=y
CONFIG_PACKAGE_libfuse=y
CONFIG_PACKAGE_libgcrypt=y
CONFIG_PACKAGE_libgdbm=y
CONFIG_PACKAGE_libgmp=y
CONFIG_PACKAGE_libgnutls=y
CONFIG_PACKAGE_libgpg-error=y
CONFIG_PACKAGE_libid3tag=y
CONFIG_PACKAGE_libjpeg-turbo=y
CONFIG_PACKAGE_libltdl=y
CONFIG_PACKAGE_liblua5.3=y
CONFIG_PACKAGE_liblzma=y
CONFIG_PACKAGE_liblzo=y
CONFIG_PACKAGE_libmbim=y
CONFIG_PACKAGE_libminiupnpc=y
CONFIG_PACKAGE_libnatpmp=y
CONFIG_PACKAGE_libnettle=y
CONFIG_PACKAGE_libogg=y
CONFIG_PACKAGE_libopus=y
CONFIG_PACKAGE_libparted=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libplist=y
CONFIG_PACKAGE_libpopt=y
CONFIG_PACKAGE_libprotobuf-c=y
CONFIG_PACKAGE_libqmi=y
CONFIG_PACKAGE_libqrtr-glib=y
CONFIG_PACKAGE_librrd1=y
CONFIG_PACKAGE_libruby=y
CONFIG_PACKAGE_libseccomp=y
CONFIG_PACKAGE_libsoxr=y
CONFIG_PACKAGE_libsqlite3=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libunistring=y
CONFIG_PACKAGE_libusb-1.0=y
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libvorbis=y
CONFIG_PACKAGE_libwebsockets-full=y
CONFIG_PACKAGE_libxml2=y
CONFIG_PACKAGE_libyaml=y
CONFIG_PACKAGE_libzstd=y
CONFIG_PACKAGE_lsblk=y
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-airplay2=y
CONFIG_PACKAGE_luci-app-alist=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-cifs-mount=y
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_linear=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_raid456=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-fileassistant=y
CONFIG_PACKAGE_luci-app-filebrowser=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-hypermodem=y
CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_luci-app-mentohust=y
CONFIG_PACKAGE_luci-app-minidlna=y
CONFIG_PACKAGE_luci-app-modem=y
CONFIG_PACKAGE_luci-app-mosdns=y
CONFIG_PACKAGE_luci-app-music-remote-center=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
CONFIG_PACKAGE_luci-app-netdata=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-openvpn-server=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Geoview=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_SingBox=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-passwall_Iptables_Transparent_Proxy=y
CONFIG_PACKAGE_luci-app-pcimodem=y
CONFIG_PACKAGE_luci-app-quickstart=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-rclone=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-socat=y
CONFIG_PACKAGE_luci-app-softether=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ChinaDNS_NG=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_IPT2Socks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Client is not set
CONFIG_PACKAGE_luci-app-statistics=y
CONFIG_PACKAGE_luci-app-store=y
CONFIG_PACKAGE_luci-app-syncdial=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-unblockneteasemusic=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-app-webadmin=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-i18n-adguardhome-zh-cn=y
CONFIG_PACKAGE_luci-i18n-airplay2-zh-cn=y
CONFIG_PACKAGE_luci-i18n-alist-zh-cn=y
CONFIG_PACKAGE_luci-i18n-argon-config-es=y
CONFIG_PACKAGE_luci-i18n-argon-config-zh-cn=y
CONFIG_PACKAGE_luci-i18n-aria2-ca=y
CONFIG_PACKAGE_luci-i18n-aria2-cs=y
CONFIG_PACKAGE_luci-i18n-aria2-da=y
CONFIG_PACKAGE_luci-i18n-aria2-de=y
CONFIG_PACKAGE_luci-i18n-aria2-el=y
CONFIG_PACKAGE_luci-i18n-aria2-es=y
CONFIG_PACKAGE_luci-i18n-aria2-fi=y
CONFIG_PACKAGE_luci-i18n-aria2-fr=y
CONFIG_PACKAGE_luci-i18n-aria2-he=y
CONFIG_PACKAGE_luci-i18n-aria2-hi=y
CONFIG_PACKAGE_luci-i18n-aria2-hu=y
CONFIG_PACKAGE_luci-i18n-aria2-it=y
CONFIG_PACKAGE_luci-i18n-aria2-ja=y
CONFIG_PACKAGE_luci-i18n-aria2-ko=y
CONFIG_PACKAGE_luci-i18n-aria2-lt=y
CONFIG_PACKAGE_luci-i18n-aria2-mr=y
CONFIG_PACKAGE_luci-i18n-aria2-ms=y
CONFIG_PACKAGE_luci-i18n-aria2-nl=y
CONFIG_PACKAGE_luci-i18n-aria2-no=y
CONFIG_PACKAGE_luci-i18n-aria2-pl=y
CONFIG_PACKAGE_luci-i18n-aria2-pt=y
CONFIG_PACKAGE_luci-i18n-aria2-pt-br=y
CONFIG_PACKAGE_luci-i18n-aria2-ro=y
CONFIG_PACKAGE_luci-i18n-aria2-ru=y
CONFIG_PACKAGE_luci-i18n-aria2-sk=y
CONFIG_PACKAGE_luci-i18n-aria2-sv=y
CONFIG_PACKAGE_luci-i18n-aria2-tr=y
CONFIG_PACKAGE_luci-i18n-aria2-uk=y
CONFIG_PACKAGE_luci-i18n-aria2-vi=y
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=y
CONFIG_PACKAGE_luci-i18n-aria2-zh-tw=y
CONFIG_PACKAGE_luci-i18n-base-ca=y
CONFIG_PACKAGE_luci-i18n-base-cs=y
CONFIG_PACKAGE_luci-i18n-base-da=y
CONFIG_PACKAGE_luci-i18n-base-de=y
CONFIG_PACKAGE_luci-i18n-base-el=y
CONFIG_PACKAGE_luci-i18n-base-es=y
CONFIG_PACKAGE_luci-i18n-base-fi=y
CONFIG_PACKAGE_luci-i18n-base-fr=y
CONFIG_PACKAGE_luci-i18n-base-he=y
CONFIG_PACKAGE_luci-i18n-base-hi=y
CONFIG_PACKAGE_luci-i18n-base-hu=y
CONFIG_PACKAGE_luci-i18n-base-it=y
CONFIG_PACKAGE_luci-i18n-base-ja=y
CONFIG_PACKAGE_luci-i18n-base-ko=y
CONFIG_PACKAGE_luci-i18n-base-lt=y
CONFIG_PACKAGE_luci-i18n-base-mr=y
CONFIG_PACKAGE_luci-i18n-base-ms=y
CONFIG_PACKAGE_luci-i18n-base-nl=y
CONFIG_PACKAGE_luci-i18n-base-no=y
CONFIG_PACKAGE_luci-i18n-base-pl=y
CONFIG_PACKAGE_luci-i18n-base-pt=y
CONFIG_PACKAGE_luci-i18n-base-pt-br=y
CONFIG_PACKAGE_luci-i18n-base-ro=y
CONFIG_PACKAGE_luci-i18n-base-ru=y
CONFIG_PACKAGE_luci-i18n-base-sk=y
CONFIG_PACKAGE_luci-i18n-base-sv=y
CONFIG_PACKAGE_luci-i18n-base-tr=y
CONFIG_PACKAGE_luci-i18n-base-uk=y
CONFIG_PACKAGE_luci-i18n-base-vi=y
CONFIG_PACKAGE_luci-i18n-base-zh-tw=y
CONFIG_PACKAGE_luci-i18n-cifs-mount-zh-cn=y
CONFIG_PACKAGE_luci-i18n-commands-ca=y
CONFIG_PACKAGE_luci-i18n-commands-cs=y
CONFIG_PACKAGE_luci-i18n-commands-da=y
CONFIG_PACKAGE_luci-i18n-commands-de=y
CONFIG_PACKAGE_luci-i18n-commands-el=y
CONFIG_PACKAGE_luci-i18n-commands-es=y
CONFIG_PACKAGE_luci-i18n-commands-fi=y
CONFIG_PACKAGE_luci-i18n-commands-fr=y
CONFIG_PACKAGE_luci-i18n-commands-he=y
CONFIG_PACKAGE_luci-i18n-commands-hi=y
CONFIG_PACKAGE_luci-i18n-commands-hu=y
CONFIG_PACKAGE_luci-i18n-commands-it=y
CONFIG_PACKAGE_luci-i18n-commands-ja=y
CONFIG_PACKAGE_luci-i18n-commands-ko=y
CONFIG_PACKAGE_luci-i18n-commands-lt=y
CONFIG_PACKAGE_luci-i18n-commands-mr=y
CONFIG_PACKAGE_luci-i18n-commands-ms=y
CONFIG_PACKAGE_luci-i18n-commands-no=y
CONFIG_PACKAGE_luci-i18n-commands-pl=y
CONFIG_PACKAGE_luci-i18n-commands-pt=y
CONFIG_PACKAGE_luci-i18n-commands-pt-br=y
CONFIG_PACKAGE_luci-i18n-commands-ro=y
CONFIG_PACKAGE_luci-i18n-commands-ru=y
CONFIG_PACKAGE_luci-i18n-commands-sk=y
CONFIG_PACKAGE_luci-i18n-commands-sv=y
CONFIG_PACKAGE_luci-i18n-commands-tr=y
CONFIG_PACKAGE_luci-i18n-commands-uk=y
CONFIG_PACKAGE_luci-i18n-commands-vi=y
CONFIG_PACKAGE_luci-i18n-commands-zh-cn=y
CONFIG_PACKAGE_luci-i18n-commands-zh-tw=y
CONFIG_PACKAGE_luci-i18n-ddns-ca=y
CONFIG_PACKAGE_luci-i18n-ddns-cs=y
CONFIG_PACKAGE_luci-i18n-ddns-da=y
CONFIG_PACKAGE_luci-i18n-ddns-de=y
CONFIG_PACKAGE_luci-i18n-ddns-el=y
CONFIG_PACKAGE_luci-i18n-ddns-es=y
CONFIG_PACKAGE_luci-i18n-ddns-fi=y
CONFIG_PACKAGE_luci-i18n-ddns-fr=y
CONFIG_PACKAGE_luci-i18n-ddns-he=y
CONFIG_PACKAGE_luci-i18n-ddns-hi=y
CONFIG_PACKAGE_luci-i18n-ddns-hu=y
CONFIG_PACKAGE_luci-i18n-ddns-it=y
CONFIG_PACKAGE_luci-i18n-ddns-ja=y
CONFIG_PACKAGE_luci-i18n-ddns-ko=y
CONFIG_PACKAGE_luci-i18n-ddns-lt=y
CONFIG_PACKAGE_luci-i18n-ddns-mr=y
CONFIG_PACKAGE_luci-i18n-ddns-ms=y
CONFIG_PACKAGE_luci-i18n-ddns-nl=y
CONFIG_PACKAGE_luci-i18n-ddns-no=y
CONFIG_PACKAGE_luci-i18n-ddns-pl=y
CONFIG_PACKAGE_luci-i18n-ddns-pt=y
CONFIG_PACKAGE_luci-i18n-ddns-pt-br=y
CONFIG_PACKAGE_luci-i18n-ddns-ro=y
CONFIG_PACKAGE_luci-i18n-ddns-ru=y
CONFIG_PACKAGE_luci-i18n-ddns-sk=y
CONFIG_PACKAGE_luci-i18n-ddns-sv=y
CONFIG_PACKAGE_luci-i18n-ddns-tr=y
CONFIG_PACKAGE_luci-i18n-ddns-uk=y
CONFIG_PACKAGE_luci-i18n-ddns-vi=y
CONFIG_PACKAGE_luci-i18n-ddns-zh-tw=y
CONFIG_PACKAGE_luci-i18n-diskman-zh-cn=y
CONFIG_PACKAGE_luci-i18n-dockerman-ca=y
CONFIG_PACKAGE_luci-i18n-dockerman-cs=y
CONFIG_PACKAGE_luci-i18n-dockerman-da=y
CONFIG_PACKAGE_luci-i18n-dockerman-de=y
CONFIG_PACKAGE_luci-i18n-dockerman-el=y
CONFIG_PACKAGE_luci-i18n-dockerman-es=y
CONFIG_PACKAGE_luci-i18n-dockerman-fi=y
CONFIG_PACKAGE_luci-i18n-dockerman-fr=y
CONFIG_PACKAGE_luci-i18n-dockerman-he=y
CONFIG_PACKAGE_luci-i18n-dockerman-hi=y
CONFIG_PACKAGE_luci-i18n-dockerman-hu=y
CONFIG_PACKAGE_luci-i18n-dockerman-it=y
CONFIG_PACKAGE_luci-i18n-dockerman-ja=y
CONFIG_PACKAGE_luci-i18n-dockerman-ko=y
CONFIG_PACKAGE_luci-i18n-dockerman-lt=y
CONFIG_PACKAGE_luci-i18n-dockerman-mr=y
CONFIG_PACKAGE_luci-i18n-dockerman-ms=y
CONFIG_PACKAGE_luci-i18n-dockerman-nl=y
CONFIG_PACKAGE_luci-i18n-dockerman-no=y
CONFIG_PACKAGE_luci-i18n-dockerman-pl=y
CONFIG_PACKAGE_luci-i18n-dockerman-pt=y
CONFIG_PACKAGE_luci-i18n-dockerman-pt-br=y
CONFIG_PACKAGE_luci-i18n-dockerman-ro=y
CONFIG_PACKAGE_luci-i18n-dockerman-ru=y
CONFIG_PACKAGE_luci-i18n-dockerman-sk=y
CONFIG_PACKAGE_luci-i18n-dockerman-sv=y
CONFIG_PACKAGE_luci-i18n-dockerman-tr=y
CONFIG_PACKAGE_luci-i18n-dockerman-uk=y
CONFIG_PACKAGE_luci-i18n-dockerman-vi=y
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=y
CONFIG_PACKAGE_luci-i18n-dockerman-zh-tw=y
CONFIG_PACKAGE_luci-i18n-filebrowser-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-ca=y
CONFIG_PACKAGE_luci-i18n-firewall-cs=y
CONFIG_PACKAGE_luci-i18n-firewall-da=y
CONFIG_PACKAGE_luci-i18n-firewall-de=y
CONFIG_PACKAGE_luci-i18n-firewall-el=y
CONFIG_PACKAGE_luci-i18n-firewall-es=y
CONFIG_PACKAGE_luci-i18n-firewall-fi=y
CONFIG_PACKAGE_luci-i18n-firewall-fr=y
CONFIG_PACKAGE_luci-i18n-firewall-he=y
CONFIG_PACKAGE_luci-i18n-firewall-hi=y
CONFIG_PACKAGE_luci-i18n-firewall-hu=y
CONFIG_PACKAGE_luci-i18n-firewall-it=y
CONFIG_PACKAGE_luci-i18n-firewall-ja=y
CONFIG_PACKAGE_luci-i18n-firewall-ko=y
CONFIG_PACKAGE_luci-i18n-firewall-lt=y
CONFIG_PACKAGE_luci-i18n-firewall-mr=y
CONFIG_PACKAGE_luci-i18n-firewall-ms=y
CONFIG_PACKAGE_luci-i18n-firewall-nl=y
CONFIG_PACKAGE_luci-i18n-firewall-no=y
CONFIG_PACKAGE_luci-i18n-firewall-pl=y
CONFIG_PACKAGE_luci-i18n-firewall-pt=y
CONFIG_PACKAGE_luci-i18n-firewall-pt-br=y
CONFIG_PACKAGE_luci-i18n-firewall-ro=y
CONFIG_PACKAGE_luci-i18n-firewall-ru=y
CONFIG_PACKAGE_luci-i18n-firewall-sk=y
CONFIG_PACKAGE_luci-i18n-firewall-sv=y
CONFIG_PACKAGE_luci-i18n-firewall-tr=y
CONFIG_PACKAGE_luci-i18n-firewall-uk=y
CONFIG_PACKAGE_luci-i18n-firewall-vi=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-tw=y
CONFIG_PACKAGE_luci-i18n-frpc-ca=y
CONFIG_PACKAGE_luci-i18n-frpc-cs=y
CONFIG_PACKAGE_luci-i18n-frpc-da=y
CONFIG_PACKAGE_luci-i18n-frpc-de=y
CONFIG_PACKAGE_luci-i18n-frpc-el=y
CONFIG_PACKAGE_luci-i18n-frpc-es=y
CONFIG_PACKAGE_luci-i18n-frpc-fi=y
CONFIG_PACKAGE_luci-i18n-frpc-fr=y
CONFIG_PACKAGE_luci-i18n-frpc-he=y
CONFIG_PACKAGE_luci-i18n-frpc-hi=y
CONFIG_PACKAGE_luci-i18n-frpc-hu=y
CONFIG_PACKAGE_luci-i18n-frpc-it=y
CONFIG_PACKAGE_luci-i18n-frpc-ja=y
CONFIG_PACKAGE_luci-i18n-frpc-ko=y
CONFIG_PACKAGE_luci-i18n-frpc-lt=y
CONFIG_PACKAGE_luci-i18n-frpc-mr=y
CONFIG_PACKAGE_luci-i18n-frpc-ms=y
CONFIG_PACKAGE_luci-i18n-frpc-no=y
CONFIG_PACKAGE_luci-i18n-frpc-pl=y
CONFIG_PACKAGE_luci-i18n-frpc-pt=y
CONFIG_PACKAGE_luci-i18n-frpc-pt-br=y
CONFIG_PACKAGE_luci-i18n-frpc-ro=y
CONFIG_PACKAGE_luci-i18n-frpc-ru=y
CONFIG_PACKAGE_luci-i18n-frpc-sk=y
CONFIG_PACKAGE_luci-i18n-frpc-sv=y
CONFIG_PACKAGE_luci-i18n-frpc-tr=y
CONFIG_PACKAGE_luci-i18n-frpc-uk=y
CONFIG_PACKAGE_luci-i18n-frpc-vi=y
CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=y
CONFIG_PACKAGE_luci-i18n-frpc-zh-tw=y
CONFIG_PACKAGE_luci-i18n-hd-idle-ca=y
CONFIG_PACKAGE_luci-i18n-hd-idle-cs=y
CONFIG_PACKAGE_luci-i18n-hd-idle-de=y
CONFIG_PACKAGE_luci-i18n-hd-idle-el=y
CONFIG_PACKAGE_luci-i18n-hd-idle-es=y
CONFIG_PACKAGE_luci-i18n-hd-idle-fr=y
CONFIG_PACKAGE_luci-i18n-hd-idle-he=y
CONFIG_PACKAGE_luci-i18n-hd-idle-hu=y
CONFIG_PACKAGE_luci-i18n-hd-idle-it=y
CONFIG_PACKAGE_luci-i18n-hd-idle-ja=y
CONFIG_PACKAGE_luci-i18n-hd-idle-lt=y
CONFIG_PACKAGE_luci-i18n-hd-idle-ms=y
CONFIG_PACKAGE_luci-i18n-hd-idle-no=y
CONFIG_PACKAGE_luci-i18n-hd-idle-pl=y
CONFIG_PACKAGE_luci-i18n-hd-idle-pt=y
CONFIG_PACKAGE_luci-i18n-hd-idle-pt-br=y
CONFIG_PACKAGE_luci-i18n-hd-idle-ro=y
CONFIG_PACKAGE_luci-i18n-hd-idle-ru=y
CONFIG_PACKAGE_luci-i18n-hd-idle-sk=y
CONFIG_PACKAGE_luci-i18n-hd-idle-sv=y
CONFIG_PACKAGE_luci-i18n-hd-idle-tr=y
CONFIG_PACKAGE_luci-i18n-hd-idle-uk=y
CONFIG_PACKAGE_luci-i18n-hd-idle-vi=y
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=y
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-tw=y
CONFIG_PACKAGE_luci-i18n-ksmbd-ca=y
CONFIG_PACKAGE_luci-i18n-ksmbd-cs=y
CONFIG_PACKAGE_luci-i18n-ksmbd-da=y
CONFIG_PACKAGE_luci-i18n-ksmbd-de=y
CONFIG_PACKAGE_luci-i18n-ksmbd-el=y
CONFIG_PACKAGE_luci-i18n-ksmbd-es=y
CONFIG_PACKAGE_luci-i18n-ksmbd-fi=y
CONFIG_PACKAGE_luci-i18n-ksmbd-fr=y
CONFIG_PACKAGE_luci-i18n-ksmbd-he=y
CONFIG_PACKAGE_luci-i18n-ksmbd-hi=y
CONFIG_PACKAGE_luci-i18n-ksmbd-hu=y
CONFIG_PACKAGE_luci-i18n-ksmbd-it=y
CONFIG_PACKAGE_luci-i18n-ksmbd-ja=y
CONFIG_PACKAGE_luci-i18n-ksmbd-ko=y
CONFIG_PACKAGE_luci-i18n-ksmbd-lt=y
CONFIG_PACKAGE_luci-i18n-ksmbd-mr=y
CONFIG_PACKAGE_luci-i18n-ksmbd-ms=y
CONFIG_PACKAGE_luci-i18n-ksmbd-nl=y
CONFIG_PACKAGE_luci-i18n-ksmbd-no=y
CONFIG_PACKAGE_luci-i18n-ksmbd-pl=y
CONFIG_PACKAGE_luci-i18n-ksmbd-pt=y
CONFIG_PACKAGE_luci-i18n-ksmbd-pt-br=y
CONFIG_PACKAGE_luci-i18n-ksmbd-ro=y
CONFIG_PACKAGE_luci-i18n-ksmbd-ru=y
CONFIG_PACKAGE_luci-i18n-ksmbd-sk=y
CONFIG_PACKAGE_luci-i18n-ksmbd-sv=y
CONFIG_PACKAGE_luci-i18n-ksmbd-tr=y
CONFIG_PACKAGE_luci-i18n-ksmbd-uk=y
CONFIG_PACKAGE_luci-i18n-ksmbd-vi=y
CONFIG_PACKAGE_luci-i18n-ksmbd-zh-tw=y
CONFIG_PACKAGE_luci-i18n-lucky-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mentohust-zh-cn=y
CONFIG_PACKAGE_luci-i18n-minidlna-ca=y
CONFIG_PACKAGE_luci-i18n-minidlna-cs=y
CONFIG_PACKAGE_luci-i18n-minidlna-da=y
CONFIG_PACKAGE_luci-i18n-minidlna-de=y
CONFIG_PACKAGE_luci-i18n-minidlna-el=y
CONFIG_PACKAGE_luci-i18n-minidlna-es=y
CONFIG_PACKAGE_luci-i18n-minidlna-fi=y
CONFIG_PACKAGE_luci-i18n-minidlna-fr=y
CONFIG_PACKAGE_luci-i18n-minidlna-he=y
CONFIG_PACKAGE_luci-i18n-minidlna-hi=y
CONFIG_PACKAGE_luci-i18n-minidlna-hu=y
CONFIG_PACKAGE_luci-i18n-minidlna-it=y
CONFIG_PACKAGE_luci-i18n-minidlna-ja=y
CONFIG_PACKAGE_luci-i18n-minidlna-ko=y
CONFIG_PACKAGE_luci-i18n-minidlna-lt=y
CONFIG_PACKAGE_luci-i18n-minidlna-mr=y
CONFIG_PACKAGE_luci-i18n-minidlna-ms=y
CONFIG_PACKAGE_luci-i18n-minidlna-nl=y
CONFIG_PACKAGE_luci-i18n-minidlna-no=y
CONFIG_PACKAGE_luci-i18n-minidlna-pl=y
CONFIG_PACKAGE_luci-i18n-minidlna-pt=y
CONFIG_PACKAGE_luci-i18n-minidlna-pt-br=y
CONFIG_PACKAGE_luci-i18n-minidlna-ro=y
CONFIG_PACKAGE_luci-i18n-minidlna-ru=y
CONFIG_PACKAGE_luci-i18n-minidlna-sk=y
CONFIG_PACKAGE_luci-i18n-minidlna-sv=y
CONFIG_PACKAGE_luci-i18n-minidlna-tr=y
CONFIG_PACKAGE_luci-i18n-minidlna-uk=y
CONFIG_PACKAGE_luci-i18n-minidlna-vi=y
CONFIG_PACKAGE_luci-i18n-minidlna-zh-cn=y
CONFIG_PACKAGE_luci-i18n-minidlna-zh-tw=y
CONFIG_PACKAGE_luci-i18n-modem-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mosdns-zh-cn=y
CONFIG_PACKAGE_luci-i18n-music-remote-center-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3-ca=y
CONFIG_PACKAGE_luci-i18n-mwan3-cs=y
CONFIG_PACKAGE_luci-i18n-mwan3-da=y
CONFIG_PACKAGE_luci-i18n-mwan3-de=y
CONFIG_PACKAGE_luci-i18n-mwan3-el=y
CONFIG_PACKAGE_luci-i18n-mwan3-es=y
CONFIG_PACKAGE_luci-i18n-mwan3-fi=y
CONFIG_PACKAGE_luci-i18n-mwan3-fr=y
CONFIG_PACKAGE_luci-i18n-mwan3-he=y
CONFIG_PACKAGE_luci-i18n-mwan3-hi=y
CONFIG_PACKAGE_luci-i18n-mwan3-hu=y
CONFIG_PACKAGE_luci-i18n-mwan3-it=y
CONFIG_PACKAGE_luci-i18n-mwan3-ja=y
CONFIG_PACKAGE_luci-i18n-mwan3-ko=y
CONFIG_PACKAGE_luci-i18n-mwan3-lt=y
CONFIG_PACKAGE_luci-i18n-mwan3-mr=y
CONFIG_PACKAGE_luci-i18n-mwan3-ms=y
CONFIG_PACKAGE_luci-i18n-mwan3-nl=y
CONFIG_PACKAGE_luci-i18n-mwan3-no=y
CONFIG_PACKAGE_luci-i18n-mwan3-pl=y
CONFIG_PACKAGE_luci-i18n-mwan3-pt=y
CONFIG_PACKAGE_luci-i18n-mwan3-pt-br=y
CONFIG_PACKAGE_luci-i18n-mwan3-ro=y
CONFIG_PACKAGE_luci-i18n-mwan3-ru=y
CONFIG_PACKAGE_luci-i18n-mwan3-sk=y
CONFIG_PACKAGE_luci-i18n-mwan3-sv=y
CONFIG_PACKAGE_luci-i18n-mwan3-tr=y
CONFIG_PACKAGE_luci-i18n-mwan3-uk=y
CONFIG_PACKAGE_luci-i18n-mwan3-vi=y
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3-zh-tw=y
CONFIG_PACKAGE_luci-i18n-mwan3helper-zh-cn=y
CONFIG_PACKAGE_luci-i18n-netdata-zh-cn=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-ca=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-cs=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-da=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-de=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-el=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-es=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-fi=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-fr=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-he=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-hi=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-hu=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-it=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-ja=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-ko=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-lt=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-mr=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-ms=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-no=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-pl=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-pt=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-pt-br=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-ro=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-ru=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-sk=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-sv=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-tr=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-uk=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-vi=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-zh-tw=y
CONFIG_PACKAGE_luci-i18n-oaf-zh-cn=y
CONFIG_PACKAGE_luci-i18n-openvpn-server-zh-cn=y
CONFIG_PACKAGE_luci-i18n-opkg-ca=y
CONFIG_PACKAGE_luci-i18n-opkg-cs=y
CONFIG_PACKAGE_luci-i18n-opkg-da=y
CONFIG_PACKAGE_luci-i18n-opkg-de=y
CONFIG_PACKAGE_luci-i18n-opkg-el=y
CONFIG_PACKAGE_luci-i18n-opkg-es=y
CONFIG_PACKAGE_luci-i18n-opkg-fi=y
CONFIG_PACKAGE_luci-i18n-opkg-fr=y
CONFIG_PACKAGE_luci-i18n-opkg-he=y
CONFIG_PACKAGE_luci-i18n-opkg-hi=y
CONFIG_PACKAGE_luci-i18n-opkg-hu=y
CONFIG_PACKAGE_luci-i18n-opkg-it=y
CONFIG_PACKAGE_luci-i18n-opkg-ja=y
CONFIG_PACKAGE_luci-i18n-opkg-ko=y
CONFIG_PACKAGE_luci-i18n-opkg-lt=y
CONFIG_PACKAGE_luci-i18n-opkg-mr=y
CONFIG_PACKAGE_luci-i18n-opkg-ms=y
CONFIG_PACKAGE_luci-i18n-opkg-no=y
CONFIG_PACKAGE_luci-i18n-opkg-pl=y
CONFIG_PACKAGE_luci-i18n-opkg-pt=y
CONFIG_PACKAGE_luci-i18n-opkg-pt-br=y
CONFIG_PACKAGE_luci-i18n-opkg-ro=y
CONFIG_PACKAGE_luci-i18n-opkg-ru=y
CONFIG_PACKAGE_luci-i18n-opkg-sk=y
CONFIG_PACKAGE_luci-i18n-opkg-sv=y
CONFIG_PACKAGE_luci-i18n-opkg-tr=y
CONFIG_PACKAGE_luci-i18n-opkg-uk=y
CONFIG_PACKAGE_luci-i18n-opkg-vi=y
CONFIG_PACKAGE_luci-i18n-opkg-zh-tw=y
CONFIG_PACKAGE_luci-i18n-passwall-zh-cn=y
CONFIG_PACKAGE_luci-i18n-quickstart-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ramfree-zh-cn=y
CONFIG_PACKAGE_luci-i18n-rclone-zh-cn=y
CONFIG_PACKAGE_luci-i18n-smartdns-de=y
CONFIG_PACKAGE_luci-i18n-smartdns-es=y
CONFIG_PACKAGE_luci-i18n-smartdns-lt=y
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y
CONFIG_PACKAGE_luci-i18n-smartdns-zh-tw=y
CONFIG_PACKAGE_luci-i18n-socat-zh-cn=y
CONFIG_PACKAGE_luci-i18n-statistics-ca=y
CONFIG_PACKAGE_luci-i18n-statistics-cs=y
CONFIG_PACKAGE_luci-i18n-statistics-da=y
CONFIG_PACKAGE_luci-i18n-statistics-de=y
CONFIG_PACKAGE_luci-i18n-statistics-el=y
CONFIG_PACKAGE_luci-i18n-statistics-es=y
CONFIG_PACKAGE_luci-i18n-statistics-fi=y
CONFIG_PACKAGE_luci-i18n-statistics-fr=y
CONFIG_PACKAGE_luci-i18n-statistics-he=y
CONFIG_PACKAGE_luci-i18n-statistics-hi=y
CONFIG_PACKAGE_luci-i18n-statistics-hu=y
CONFIG_PACKAGE_luci-i18n-statistics-it=y
CONFIG_PACKAGE_luci-i18n-statistics-ja=y
CONFIG_PACKAGE_luci-i18n-statistics-ko=y
CONFIG_PACKAGE_luci-i18n-statistics-lt=y
CONFIG_PACKAGE_luci-i18n-statistics-mr=y
CONFIG_PACKAGE_luci-i18n-statistics-ms=y
CONFIG_PACKAGE_luci-i18n-statistics-nl=y
CONFIG_PACKAGE_luci-i18n-statistics-no=y
CONFIG_PACKAGE_luci-i18n-statistics-pl=y
CONFIG_PACKAGE_luci-i18n-statistics-pt=y
CONFIG_PACKAGE_luci-i18n-statistics-pt-br=y
CONFIG_PACKAGE_luci-i18n-statistics-ro=y
CONFIG_PACKAGE_luci-i18n-statistics-ru=y
CONFIG_PACKAGE_luci-i18n-statistics-sk=y
CONFIG_PACKAGE_luci-i18n-statistics-sv=y
CONFIG_PACKAGE_luci-i18n-statistics-tr=y
CONFIG_PACKAGE_luci-i18n-statistics-uk=y
CONFIG_PACKAGE_luci-i18n-statistics-vi=y
CONFIG_PACKAGE_luci-i18n-statistics-zh-cn=y
CONFIG_PACKAGE_luci-i18n-statistics-zh-tw=y
CONFIG_PACKAGE_luci-i18n-uhttpd-ca=y
CONFIG_PACKAGE_luci-i18n-uhttpd-cs=y
CONFIG_PACKAGE_luci-i18n-uhttpd-da=y
CONFIG_PACKAGE_luci-i18n-uhttpd-de=y
CONFIG_PACKAGE_luci-i18n-uhttpd-el=y
CONFIG_PACKAGE_luci-i18n-uhttpd-es=y
CONFIG_PACKAGE_luci-i18n-uhttpd-fi=y
CONFIG_PACKAGE_luci-i18n-uhttpd-fr=y
CONFIG_PACKAGE_luci-i18n-uhttpd-he=y
CONFIG_PACKAGE_luci-i18n-uhttpd-hi=y
CONFIG_PACKAGE_luci-i18n-uhttpd-hu=y
CONFIG_PACKAGE_luci-i18n-uhttpd-it=y
CONFIG_PACKAGE_luci-i18n-uhttpd-ja=y
CONFIG_PACKAGE_luci-i18n-uhttpd-ko=y
CONFIG_PACKAGE_luci-i18n-uhttpd-lt=y
CONFIG_PACKAGE_luci-i18n-uhttpd-mr=y
CONFIG_PACKAGE_luci-i18n-uhttpd-ms=y
CONFIG_PACKAGE_luci-i18n-uhttpd-no=y
CONFIG_PACKAGE_luci-i18n-uhttpd-pl=y
CONFIG_PACKAGE_luci-i18n-uhttpd-pt=y
CONFIG_PACKAGE_luci-i18n-uhttpd-pt-br=y
CONFIG_PACKAGE_luci-i18n-uhttpd-ro=y
CONFIG_PACKAGE_luci-i18n-uhttpd-ru=y
CONFIG_PACKAGE_luci-i18n-uhttpd-sk=y
CONFIG_PACKAGE_luci-i18n-uhttpd-sv=y
CONFIG_PACKAGE_luci-i18n-uhttpd-tr=y
CONFIG_PACKAGE_luci-i18n-uhttpd-uk=y
CONFIG_PACKAGE_luci-i18n-uhttpd-vi=y
CONFIG_PACKAGE_luci-i18n-uhttpd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-uhttpd-zh-tw=y
CONFIG_PACKAGE_luci-i18n-upnp-ca=y
CONFIG_PACKAGE_luci-i18n-upnp-cs=y
CONFIG_PACKAGE_luci-i18n-upnp-da=y
CONFIG_PACKAGE_luci-i18n-upnp-de=y
CONFIG_PACKAGE_luci-i18n-upnp-el=y
CONFIG_PACKAGE_luci-i18n-upnp-es=y
CONFIG_PACKAGE_luci-i18n-upnp-fi=y
CONFIG_PACKAGE_luci-i18n-upnp-fr=y
CONFIG_PACKAGE_luci-i18n-upnp-he=y
CONFIG_PACKAGE_luci-i18n-upnp-hi=y
CONFIG_PACKAGE_luci-i18n-upnp-hu=y
CONFIG_PACKAGE_luci-i18n-upnp-it=y
CONFIG_PACKAGE_luci-i18n-upnp-ja=y
CONFIG_PACKAGE_luci-i18n-upnp-ko=y
CONFIG_PACKAGE_luci-i18n-upnp-lt=y
CONFIG_PACKAGE_luci-i18n-upnp-mr=y
CONFIG_PACKAGE_luci-i18n-upnp-ms=y
CONFIG_PACKAGE_luci-i18n-upnp-no=y
CONFIG_PACKAGE_luci-i18n-upnp-pl=y
CONFIG_PACKAGE_luci-i18n-upnp-pt=y
CONFIG_PACKAGE_luci-i18n-upnp-pt-br=y
CONFIG_PACKAGE_luci-i18n-upnp-ro=y
CONFIG_PACKAGE_luci-i18n-upnp-ru=y
CONFIG_PACKAGE_luci-i18n-upnp-sk=y
CONFIG_PACKAGE_luci-i18n-upnp-sv=y
CONFIG_PACKAGE_luci-i18n-upnp-tr=y
CONFIG_PACKAGE_luci-i18n-upnp-uk=y
CONFIG_PACKAGE_luci-i18n-upnp-vi=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-tw=y
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=y
CONFIG_PACKAGE_luci-i18n-vlmcsd-zh-tw=y
CONFIG_PACKAGE_luci-i18n-webadmin-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wol-ca=y
CONFIG_PACKAGE_luci-i18n-wol-cs=y
CONFIG_PACKAGE_luci-i18n-wol-da=y
CONFIG_PACKAGE_luci-i18n-wol-de=y
CONFIG_PACKAGE_luci-i18n-wol-el=y
CONFIG_PACKAGE_luci-i18n-wol-es=y
CONFIG_PACKAGE_luci-i18n-wol-fi=y
CONFIG_PACKAGE_luci-i18n-wol-fr=y
CONFIG_PACKAGE_luci-i18n-wol-he=y
CONFIG_PACKAGE_luci-i18n-wol-hi=y
CONFIG_PACKAGE_luci-i18n-wol-hu=y
CONFIG_PACKAGE_luci-i18n-wol-it=y
CONFIG_PACKAGE_luci-i18n-wol-ja=y
CONFIG_PACKAGE_luci-i18n-wol-ko=y
CONFIG_PACKAGE_luci-i18n-wol-lt=y
CONFIG_PACKAGE_luci-i18n-wol-mr=y
CONFIG_PACKAGE_luci-i18n-wol-ms=y
CONFIG_PACKAGE_luci-i18n-wol-nl=y
CONFIG_PACKAGE_luci-i18n-wol-no=y
CONFIG_PACKAGE_luci-i18n-wol-pl=y
CONFIG_PACKAGE_luci-i18n-wol-pt=y
CONFIG_PACKAGE_luci-i18n-wol-pt-br=y
CONFIG_PACKAGE_luci-i18n-wol-ro=y
CONFIG_PACKAGE_luci-i18n-wol-ru=y
CONFIG_PACKAGE_luci-i18n-wol-sk=y
CONFIG_PACKAGE_luci-i18n-wol-sv=y
CONFIG_PACKAGE_luci-i18n-wol-tr=y
CONFIG_PACKAGE_luci-i18n-wol-uk=y
CONFIG_PACKAGE_luci-i18n-wol-vi=y
CONFIG_PACKAGE_luci-i18n-wol-zh-tw=y
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=y
CONFIG_PACKAGE_luci-i18n-zerotier-zh-tw=y
CONFIG_PACKAGE_luci-lib-docker=y
CONFIG_PACKAGE_luci-lib-taskd=y
CONFIG_PACKAGE_luci-lib-xterm=y
CONFIG_PACKAGE_luci-proto-modemmanager=y
CONFIG_PACKAGE_luci-proto-qmi=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-theme-design=y
CONFIG_PACKAGE_lucky=y
CONFIG_PACKAGE_mdadm=y
CONFIG_PACKAGE_mentohust=y
CONFIG_PACKAGE_minidlna=y
CONFIG_PACKAGE_modemmanager=y
CONFIG_PACKAGE_mount-utils=y
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_mxml=y
CONFIG_PACKAGE_netdata=y
CONFIG_PACKAGE_node=y
CONFIG_PACKAGE_openssh-sftp-client=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_openvpn-easy-rsa=y
CONFIG_PACKAGE_openvpn-openssl=y
CONFIG_PACKAGE_p910nd=y
CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_pdnsd-alt=y
CONFIG_PACKAGE_quectel-CM-5G=y
CONFIG_PACKAGE_quickstart=y
CONFIG_PACKAGE_rclone=y
CONFIG_PACKAGE_rclone-config=y
CONFIG_PACKAGE_rclone-ng=y
CONFIG_PACKAGE_rclone-webui-react=y
CONFIG_PACKAGE_redsocks2=y
CONFIG_PACKAGE_rrdtool1=y
CONFIG_PACKAGE_ruby=y
CONFIG_PACKAGE_ruby-bigdecimal=y
CONFIG_PACKAGE_ruby-date=y
CONFIG_PACKAGE_ruby-digest=y
CONFIG_PACKAGE_ruby-enc=y
CONFIG_PACKAGE_ruby-forwardable=y
CONFIG_PACKAGE_ruby-pstore=y
CONFIG_PACKAGE_ruby-psych=y
CONFIG_PACKAGE_ruby-stringio=y
CONFIG_PACKAGE_ruby-strscan=y
CONFIG_PACKAGE_ruby-yaml=y
CONFIG_PACKAGE_runc=y
CONFIG_PACKAGE_script-utils=y
CONFIG_PACKAGE_shadow=y
CONFIG_PACKAGE_shadow-chage=y
CONFIG_PACKAGE_shadow-chfn=y
CONFIG_PACKAGE_shadow-chgpasswd=y
CONFIG_PACKAGE_shadow-chpasswd=y
CONFIG_PACKAGE_shadow-chsh=y
CONFIG_PACKAGE_shadow-common=y
CONFIG_PACKAGE_shadow-expiry=y
CONFIG_PACKAGE_shadow-faillog=y
CONFIG_PACKAGE_shadow-gpasswd=y
CONFIG_PACKAGE_shadow-groupadd=y
CONFIG_PACKAGE_shadow-groupdel=y
CONFIG_PACKAGE_shadow-groupmems=y
CONFIG_PACKAGE_shadow-groupmod=y
CONFIG_PACKAGE_shadow-groups=y
CONFIG_PACKAGE_shadow-grpck=y
CONFIG_PACKAGE_shadow-grpconv=y
CONFIG_PACKAGE_shadow-grpunconv=y
CONFIG_PACKAGE_shadow-lastlog=y
CONFIG_PACKAGE_shadow-login=y
CONFIG_PACKAGE_shadow-logoutd=y
CONFIG_PACKAGE_shadow-newgidmap=y
CONFIG_PACKAGE_shadow-newgrp=y
CONFIG_PACKAGE_shadow-newuidmap=y
CONFIG_PACKAGE_shadow-newusers=y
CONFIG_PACKAGE_shadow-nologin=y
CONFIG_PACKAGE_shadow-passwd=y
CONFIG_PACKAGE_shadow-pwck=y
CONFIG_PACKAGE_shadow-pwconv=y
CONFIG_PACKAGE_shadow-pwunconv=y
CONFIG_PACKAGE_shadow-su=y
CONFIG_PACKAGE_shadow-useradd=y
CONFIG_PACKAGE_shadow-userdel=y
CONFIG_PACKAGE_shadow-usermod=y
CONFIG_PACKAGE_shadow-utils=y
CONFIG_PACKAGE_shadow-vipw=y
CONFIG_PACKAGE_shadowsocks-libev-ss-local=y
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=y
# CONFIG_PACKAGE_shadowsocks-rust-sslocal is not set
CONFIG_PACKAGE_shairport-sync-openssl=y
CONFIG_PACKAGE_sing-box=y
CONFIG_PACKAGE_smartd=y
CONFIG_PACKAGE_smartdns=y
CONFIG_PACKAGE_smartmontools=y
CONFIG_PACKAGE_sms-tool=y
CONFIG_PACKAGE_socat=y
CONFIG_PACKAGE_softethervpn5-client=y
CONFIG_PACKAGE_softethervpn5-libs=y
CONFIG_PACKAGE_sqlite3-cli=y
CONFIG_PACKAGE_tar=y
CONFIG_PACKAGE_taskd=y
CONFIG_PACKAGE_tini=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_uqmi=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_v2dat=y
CONFIG_PACKAGE_v2ray-geoip=y
CONFIG_PACKAGE_v2ray-geosite=y
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_wwan=y
CONFIG_PACKAGE_xz=y
CONFIG_PACKAGE_xz-utils=y
CONFIG_PACKAGE_zerotier=y
CONFIG_PARTED_READLINE=y
CONFIG_QCOW2_IMAGES=y
CONFIG_SING_BOX_WITH_CLASH_API=y
CONFIG_SING_BOX_WITH_DHCP=y
CONFIG_SING_BOX_WITH_ECH=y
CONFIG_SING_BOX_WITH_GVISOR=y
CONFIG_SING_BOX_WITH_QUIC=y
CONFIG_SING_BOX_WITH_UTLS=y
CONFIG_SING_BOX_WITH_WIREGUARD=y
CONFIG_SQLITE3_COLUMN_METADATA=y
CONFIG_SQLITE3_DYNAMIC_EXTENSIONS=y
CONFIG_SQLITE3_FTS3=y
CONFIG_SQLITE3_FTS4=y
CONFIG_SQLITE3_FTS5=y
CONFIG_SQLITE3_JSON1=y
CONFIG_SQLITE3_LIBEDIT=y
CONFIG_SQLITE3_RTREE=y
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=960
CONFIG_VDI_IMAGES=y
CONFIG_VHDX_IMAGES=y
CONFIG_VMDK_IMAGES=y
CONFIG_ZSTD_OPTIMIZE_O3=y
CONFIG_shadow-all=y
# CONFIG_PACKAGE_boost is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin is not set
# CONFIG_PACKAGE_trojan-plus is not set
# CONFIG_PACKAGE_v2ray-plugin is not set
